/***
Lock Page
***/
body {
	padding: 0;
	margin: 0;
}

.page-lock {
   top: 30%;
   left: 38.5%;
   position: absolute;
   margin-top: -100px;
   margin-left: -260px;
}

.page-lock .page-logo {
	margin-bottom: 15px;
}

.page-lock .page-body {	
   width: 100%;
   padding: 0px;
   /*background: url(../../img/bg-white-lock.png) repeat;*/
   border-radius: 5px !important;
   webkit-border-radius: 5px !important;
}

.page-lock .page-body:after,
.page-lock .page-body:before {
	display: table;
	content: "";
	line-height: 0;
}

.page-lock .page-body:after {
	clear: both;
}

.page-lock .page-footer {
   margin-top: 10px;
   text-align: left !important;
   font-size: 12px;
   color: #333;
}

.page-lock img.page-lock-img {
	float: left;
	width: 200px;
	height: auto;
}

.page-lock .page-lock-info {
	float: right;
	width: 280px;
	text-align:center;
	background: rgba(255,255,255,0.1);
	padding:10px;
	border:1px solid #fff;
	border-radius: 5px !important;
   	webkit-border-radius: 5px !important;
}

.page-lock .page-lock-info h1 {
	margin-top: -5px;
	font-weight: 300;
	color: #fff;
	font-size: 28px;
	line-height: 32px;
}

.page-lock .page-lock-info span {
	color: #eee;
	display: block;
	font-size: 14px;
	margin-top: -5px;
	margin-bottom: 10px;
} 

.page-lock .page-lock-info span em {
	color: #333;
	font-size: 14px;
	font-style: normal;
}

.page-lock .page-lock-info form {
	margin: 28px 0;
}

.page-lock .page-lock-info input {
	background: #fff;
}

.page-lock .page-lock-banner {
	float: right;
	width: 500px;
	text-align:center;
	color:white;
}
	
.page-lock .relogin {
	margin-top: 10px;
}

.page-lock .relogin a {
	color: #e1e1e1;
}

/*Responsive*/
@media (max-width: 1024px) {
	.page-lock {
	   top: 30%;
	   left: 33.8%;
	   position: absolute;
	   margin-top: -100px;
	   margin-left: -260px;
	}	
	
	.page-lock .page-lock-info {
		float: right;
		width: 280px;
		text-align:center;
		background: url(../../img/bg-white-lock.png) repeat;
		padding:10px 0px;
		border-radius: 5px !important;
		webkit-border-radius: 5px !important;
	}
}

@media (max-width: 800px) {
	.page-lock {
	   top:0px;
	   left:0px;
	   width: 100%;
	   margin-top: 50px;
	   margin-left: 0px;
	}	

	.page-lock .page-body {	
	    text-align: center;	
		width: 100%;
	}

	.page-lock img.page-lock-img {
		float: none !important;
		display: block;
		margin: 0 auto;
		text-align: center;
		margin-bottom: 15px;
	}
	.page-lock .page-lock-info {
		float: none !important;
		width: 100%;		
		margin: 0 auto;
	}
	.page-lock .page-lock-info1 form {
		margin-bottom: 0;
	}	
	
	.page-lock .page-lock-banner {
		float: right;
		width: 100%;
		text-align:center;
	}
}

.checkbox{
	color:#fff !important;
	display: inline-block;
	padding: 0 !important;
	margin: 0 !important;
}