@charset "UTF-8";
/* CSS Document */

#container {
	position: absolute;
	left: 50%;
	top: 0px;
	background-image: url(../Images/ALLPRODUCTS/backgroundallproducts.jpg);
	height: 2000px;
	width: 1676px;
	margin-top: 0px;
	margin-left: -840px;
	background-repeat: no-repeat;
}

#Table_01 {
	width: 960px;
	height: 2000px;
	margin-top: 0px;
	margin-right: auto;
	margin-left: auto;
}

#top_ {
	left: 0px;
	top: 0px;
	width: 960px;
	height: 92px;
	float: left;
}

#logo_ {
	left: 0px;
	top: 0px;
	width: 121px;
	height: 86px;
	background-repeat: no-repeat;
	float: left;
}

#balkboven_ {
	left: 121px;
	top: 0px;
	width: 839px;
	height: 56px;
	float: left;
	background-repeat: no-repeat;
}

#menu_ {
	left: 121px;
	top: 56px;
	width: 800px;
	height: 30px;
	float: left;
	background-image: url(../Images/HOME/menu.png);
	background-repeat: no-repeat;
}

#naastmenu_ {
	left: 921px;
	top: 56px;
	width: 39px;
	height: 30px;
	float: left;
	background-image: url(../Images/HOME/naastmenu.png);
	background-repeat: no-repeat;
}

#lijnondermenuwit_ {
	left: 0px;
	top: 86px;
	width: 960px;
	height: 7px;
	float: left;
	background-image: url(../Images/HOME/lijnondermenuwit.png);
	background-repeat: no-repeat;
}

#banner_ {
	left: 0px;
	top: 92px;
	width: 960px;
	height: 320px;
	float: left;
	background-image: url(../Images/Bannerfotos/Header-Category_Community_980x545-01.jpg);
	background-repeat: no-repeat;
}

#lijnonderbanner_ {
	left: 0px;
	top: 412px;
	width: 960px;
	height: 28px;
	float: left;
	background-image: url(../Images/ALLPRODUCTS/lijnonderbanner.png);
	background-repeat: no-repeat;
}

#blauw_ {
	left: 0px;
	top: 440px;
	width: 205px;
	height: 500px;
	float: left;
	background-image: url(../Images/ATHLETES/normaal/blauw.png);
	background-repeat: no-repeat;
	padding-top: 10px;
	padding-left: 25px;
	padding-right: 30px;
	padding-bottom: 750px;
}

#tussenblauwenathletes_ {
	left: 0px;
	top: 440px;
	width: 61px;
	height: 480px;
	float: left;
	background-repeat: no-repeat;
}

#titelproduct_ {
	left: 244px;
	top: 440px;
	width: 700px;
	height: 31px;
	float: left;
	background-image: url(../Images/ALLPRODUCTS/titelproduct.png);
	background-repeat: no-repeat;
	padding-top: 35px;
	padding-bottom: 1px;
}

#grijzeblokjesbalk_ {
	left: 244px;
	top: 507px;
	width: 459px;
	height: 21px;
	float: left;
	background-image: url(../Images/ALLPRODUCTS/grijzeblokjesbalk.png);
	background-repeat: no-repeat;
}

#allproducts-07_ {
	left: 703px;
	top: 507px;
	width: 21px;
	height: 21px;
	float: left;
	background-image: url(../Images/ALLPRODUCTS/allproducts_07.png);
	background-repeat: no-repeat;
}

#grijzeblokjesbalk008_ {
	left: 724px;
	top: 507px;
	width: 220px;
	height: 21px;
	background-image: url(../Images/ALLPRODUCTS/grijzeblokjesbalk-08.png);
	background-repeat: no-repeat;
	float: left;
}

#maintekst_ {
	left: 244px;
	top: 440px;
	width: 700px;
	height: 90px;
	float: left;
	background-repeat: no-repeat;
	padding-top: 5px;
}

#blokvoorathletes_ {
	left: 244px;
	top: 440px;
	width: 700px;
	height: 1069px;
	float: left;
	background-repeat: no-repeat;
}

#andypotts_ {
	left: 260px;
	top: 440px;
	width: 220px;
	height: 191px;
	float: left;
	background-repeat: no-repeat;
}

#wit1_ {
	left:480px;
	top:440px;
	width:20px;
	height:191px;
	float: left;
}

#camdye_ {
	left:500px;
	top:440px;
	width:220px;
	height:191px;
	float: left;
}

#wit2_ {
	left:720px;
	top:440px;
	width:20px;
	height:191px;
	float: left;
}

#iantorrence_ {
	left:740px;
	top:440px;
	width:220px;
	height:191px;
	float: left;
}

#balk1_ {
	left:260px;
	top:631px;
	width:700px;
	height:20px;
	float: left;
}

#holdencomeau_ {
	left:260px;
	top:651px;
	width:220px;
	height:191px;
	float: left;
}

#athlets-17_ {
	left:480px;
	top:651px;
	width:20px;
	height:191px;
	float: left;
}

#jammesbonnet_ {
	left:500px;
	top:651px;
	width:220px;
	height:191px;
	float: left;
}

#athlets-19_ {
	left:720px;
	top:651px;
	width:20px;
	height:191px;
	float: left;
}

#paulettezillmer_ {
	left:740px;
	top:651px;
	width:220px;
	height:191px;
	float: left;
}

#balk2_ {
	left:260px;
	top:842px;
	width:700px;
	height:20px;
	float: left;
}

#maxfennell_ {
	left:260px;
	top:862px;
	width:220px;
	height:192px;
	float: left;
}

#athlets-23_ {
	left:480px;
	top:862px;
	width:20px;
	height:192px;
	float: left;
}

#briantinder_ {
	left:500px;
	top:862px;
	width:220px;
	height:192px;
	float: left;
}

#athlets-25_ {
	left:720px;
	top:862px;
	width:20px;
	height:192px;
	float: left;
}

#mikewardian_ {
	left:740px;
	top:862px;
	width:220px;
	height:192px;
	float: left;
}

#athlets-27_ {
	left:260px;
	top:1054px;
	width:700px;
	height:20px;
	float: left;
}

#joshbrimhall_ {
	left:260px;
	top:1074px;
	width:220px;
	height:191px;
	float: left;
}

#athlets-29_ {
	left:480px;
	top:1074px;
	width:20px;
	height:191px;
	float: left;
}

#krentbriney_ {
	left:500px;
	top:1074px;
	width:220px;
	height:191px;
	float: left;
}

#athlets-31_ {
	left:720px;
	top:1074px;
	width:20px;
	height:191px;
	float: left;
}

#breelambert_ {
	left:740px;
	top:1074px;
	width:220px;
	height:191px;
	float: left;
}

#pamreed_ {
	left:260px;
	top:1265px;
	width:700px;
	height:20px;
	float: left;
}

#athlets-34_ {
	left:260px;
	top:1285px;
	width:220px;
	height:191px;
	float: left;
}

#athlets-35_ {
	left:480px;
	top:1285px;
	width:20px;
	height:191px;
	float: left;
}

#mikemorton_ {
	left:500px;
	top:1285px;
	width:220px;
	height:191px;
	float: left;
}

#athlets-37_ {
	left:720px;
	top:1285px;
	width:20px;
	height:191px;
	float: left;
}

#emilyharrison_ {
	left:740px;
	top:1285px;
	width:220px;
	height:191px;
	float: left;
}

#onder_ {
	left:260px;
	top:1476px;
	width:700px;
	height:33px;
	float: left;
}

#balkonderfotos_ {
	left: 0px;
	top: 1475px;
	width: 960px;
	height: 34px;
	background-repeat: no-repeat;
	float: left;
	background-color: #FFF;
}


#footerblok_ {
	left: 0px;
	top: 1087px;
	width: 960px;
	height: 422px;
	background-repeat: no-repeat;
	float: left;
}

#balkgrijsoranjevanfooterboven_ {
	left: 0px;
	top: 1087px;
	width: 960px;
	height: 19px;
	background-image: url(../Images/HOME/balkgrijsoranjevanfooterboven.png);
	background-repeat: no-repeat;
	float: left;
}

#footerfoto1_ {
	left: 0px;
	top: 1106px;
	width: 300px;
	height: 257px;
	background-image: url(../Images/HOME/footerfoto1.png);
	background-repeat: no-repeat;
	float: left;
}

#geel1_ {
	left: 300px;
	top: 1106px;
	width: 30px;
	height: 257px;
	background-image: url(../Images/HOME/geel1.png);
	background-repeat: no-repeat;
	float: left;
}

#footerfoto2_ {
	left: 330px;
	top: 1106px;
	width: 300px;
	height: 257px;
	background-image: url(../Images/HOME/footerfoto2.png);
	background-repeat: no-repeat;
	float: left;
}

#geel2_ {
	left: 630px;
	top: 1106px;
	width: 30px;
	height: 257px;
	background-image: url(../Images/HOME/geel2.png);
	background-repeat: no-repeat;
	float: left;
}

#footerfoto3_ {
	left: 660px;
	top: 1106px;
	width: 300px;
	height: 257px;
	background-image: url(../Images/HOME/footerfoto3.png);
	background-repeat: no-repeat;
	float: left;
}

#geelbalkfooter_ {
	left: 0px;
	top: 1363px;
	width: 960px;
	height: 10px;
	background-image: url(../Images/HOME/geelbalkfooter.png);
	background-repeat: no-repeat;
	float: left;
}

#footeronder_ {
	left: 0px;
	top: 1373px;
	width: 840px;
	height: 116px;
	background-image: url(../Images/HOME/footeronder.png);
	background-repeat: no-repeat;
	float: left;
	padding-top: 20px;
	padding-left: 120px;
}

.maintekst {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #575656;
	text-decoration: none;
	font-weight: normal;
	line-height: 20px;
	text-align: left;
	text-transform: uppercase;
}

.maintekstvet {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #575656;
	text-decoration: none;
	font-weight: bold;
	line-height: 20px;
	text-align: left;
	text-transform: uppercase;
}

.Hoofdtekstgrijsblok {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	color: #FFFFFF;
	text-decoration: none;
	font-weight: normal;
	line-height: 30px;
	text-align: left;
	text-transform: uppercase;
}

.Tekstgrijsblokmain {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #FFFFFF;
	text-decoration: none;
	font-weight: normal;
	line-height: 20px;
	text-align: left;
	text-transform: uppercase;
}

.Hoofdfootertekst {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #FFFFFF;
	text-decoration: none;
	font-weight: normal;
	line-height: 30px;
	text-align: left;
	text-transform: uppercase;
	word-spacing: 0.4cm;
}

.Onderfootertekst {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #FFFFFF;
	text-decoration: none;
	font-weight: normal;
	line-height: 20px;
	text-align: left;
	word-spacing: 0.2cm;
	text-transform: uppercase;
}

.copyright{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #FFFFFF;
	text-decoration: none;
	font-weight: normal;
	line-height: 20px;
	text-align: left;
	text-transform: uppercase;
}

.Producttitel {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 24px;
	color: #484743;
	text-decoration: none;
	font-weight: bold;
	line-height: 30px;
	text-align: left;
	text-transform: uppercase;
}

.Submenu {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #FFFFFF;
	text-decoration: none;
	font-weight: normal;
	line-height: 30px;
	text-align: left;
	text-transform: uppercase;
}

.Submenutop {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000000;
	text-decoration: none;
	font-weight: bold;
	line-height: 20px;
	text-align: left;
	text-transform: uppercase;
}

.Tekstgrijsblokmainklein {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #FFFFFF;
	text-decoration: none;
	font-weight: normal;
	line-height: 20px;
	text-align: left;
	text-transform: uppercase;
}

.Oranjegroot {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 24px;
	color: #f8a01a;
	text-decoration: none;
	font-weight: bold;
	line-height: 30px;
	text-align: left;
	text-transform: uppercase;
}

.kruimelpad {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #289dde;
	text-decoration: none;
	font-weight: bold;
	line-height: 20px;
	text-align: left;
	text-transform: uppercase;
}

